<a href="https://colab.research.google.com/github/codermaker2022/Coffee-cup/blob/main/Pandas_exerc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

In [3]:
g5_st=pd.Series([34.50, 43.80,32.3,54.80,12.50])

In [6]:
g5_st

0    34.5
1    43.8
2    32.3
3    54.8
4    12.5
dtype: float64

In [7]:
g5_st.name='South american countries in millions'

In [8]:
g5_st

0    34.5
1    43.8
2    32.3
3    54.8
4    12.5
Name: South american countries in millions, dtype: float64

In [9]:
g5_st[2]

32.3

In [16]:
g5_st.index

RangeIndex(start=0, stop=5, step=1)

In [18]:
g5_st.index=[
    'Peru',
    'Chile',
    'Bolivia',
    'Paraguay',
    'Brazil'
]

In [19]:
g5_st

Peru        34.5
Chile       43.8
Bolivia     32.3
Paraguay    54.8
Brazil      12.5
Name: South american countries in millions, dtype: float64

In [22]:
pd.Series(g5_st, index=['Brazil','Bolivia','Argentina'])

Brazil       12.5
Bolivia      32.3
Argentina     NaN
Name: South american countries in millions, dtype: float64

In [23]:
g5_st.iloc[-1]

12.5

In [26]:
g5_st[['Peru','Brazil']]

Peru      34.5
Brazil    12.5
Name: South american countries in millions, dtype: float64

In [27]:
g5_st.iloc[[1,2]]

Chile      43.8
Bolivia    32.3
Name: South american countries in millions, dtype: float64

In [30]:
g5_st['Peru':'Bolivia']

Peru       34.5
Chile      43.8
Bolivia    32.3
Name: South american countries in millions, dtype: float64

In [31]:
g5_st>40

Peru        False
Chile        True
Bolivia     False
Paraguay     True
Brazil      False
Name: South american countries in millions, dtype: bool

In [32]:
g5_st<30

Peru        False
Chile       False
Bolivia     False
Paraguay    False
Brazil       True
Name: South american countries in millions, dtype: bool

In [33]:
g5_st[g5_st<30]

Brazil    12.5
Name: South american countries in millions, dtype: float64

In [34]:
g5_st.mean()

35.58

In [37]:
g5_st[g5_st>g5_st.mean()]

Chile       43.8
Paraguay    54.8
Name: South american countries in millions, dtype: float64

In [38]:
g5_st.std()

15.665152409089417

In [4]:
df = pd.DataFrame({
    'Population': [35.467, 63.951, 80.94 , 60.665, 127.061, 64.511, 318.523],
    'GDP': [
        1785387,
        2833687,
        3874437,
        2167744,
        4602367,
        2950039,
        17348075
    ],
    'Surface Area': [
        9984670,
        640679,
        357114,
        301336,
        377930,
        242495,
        9525067
    ],
    'HDI': [
        0.913,
        0.888,
        0.916,
        0.873,
        0.891,
        0.907,
        0.915
    ],
    'Continent': [
        'America',
        'Europe',
        'Europe',
        'Europe',
        'Asia',
        'Europe',
        'America'
    ]
}, columns=['Population', 'GDP', 'Surface Area', 'HDI', 'Continent'])

In [5]:
df

   Population       GDP  Surface Area    HDI Continent
0      35.467   1785387       9984670  0.913   America
1      63.951   2833687        640679  0.888    Europe
2      80.940   3874437        357114  0.916    Europe
3      60.665   2167744        301336  0.873    Europe
4     127.061   4602367        377930  0.891      Asia
5      64.511   2950039        242495  0.907    Europe
6     318.523  17348075       9525067  0.915   America

In [7]:
df.index=['Canada',
          'France',
          'Germany',
          'Italy',
          'Japan',
          'United Kingdom',
          'United States']

In [8]:
df

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [9]:
df.columns

Index(['Population', 'GDP', 'Surface Area', 'HDI', 'Continent'], dtype='object')

In [10]:
df.index

Index(['Canada', 'France', 'Germany', 'Italy', 'Japan', 'United Kingdom',
       'United States'],
      dtype='object')

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7 entries, Canada to United States
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Population    7 non-null      float64
 1   GDP           7 non-null      int64
 2   Surface Area  7 non-null      int64
 3   HDI           7 non-null      float64
 4   Continent     7 non-null      object
dtypes: float64(2), int64(2), object(1)
memory usage: 636.0+ bytes

In [12]:
df.size

35

In [13]:
df.shape

(7, 5)

In [14]:
df.dtypes

Population      float64
GDP               int64
Surface Area      int64
HDI             float64
Continent        object
dtype: object

In [15]:
df.dtypes.value_counts()

float64    2
int64      2
object     1
dtype: int64

In [16]:
df

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [17]:
df['Population']

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: Population, dtype: float64

In [18]:
df['Surface Area']

Canada            9984670
France             640679
Germany            357114
Italy              301336
Japan              377930
United Kingdom     242495
United States     9525067
Name: Surface Area, dtype: int64

In [19]:
df['Population'].to_frame()

                Population
Canada              35.467
France              63.951
Germany             80.940
Italy               60.665
Japan              127.061
United Kingdom      64.511
United States      318.523

In [20]:
df[['Population','GDP']]

                Population       GDP
Canada              35.467   1785387
France              63.951   2833687
Germany             80.940   3874437
Italy               60.665   2167744
Japan              127.061   4602367
United Kingdom      64.511   2950039
United States      318.523  17348075

In [21]:
df[1:3]

         Population      GDP  Surface Area    HDI Continent
France       63.951  2833687        640679  0.888    Europe
Germany      80.940  3874437        357114  0.916    Europe

In [22]:
df.loc['Italy'].to_frame()

                Italy
Population     60.665
GDP           2167744
Surface Area   301336
HDI             0.873
Continent      Europe

In [23]:
df.iloc[2].to_frame()

              Germany
Population      80.94
GDP           3874437
Surface Area   357114
HDI             0.916
Continent      Europe

In [24]:
df.iloc[1:3,1:3]

             GDP  Surface Area
France   2833687        640679
Germany  3874437        357114

In [25]:
df.loc[df['Population']>70]

               Population       GDP  Surface Area    HDI Continent
Germany            80.940   3874437        357114  0.916    Europe
Japan             127.061   4602367        377930  0.891      Asia
United States     318.523  17348075       9525067  0.915   America

In [26]:
df.loc[df['Population']>70,'Population']

Germany           80.940
Japan            127.061
United States    318.523
Name: Population, dtype: float64

In [27]:
df.drop(['Canada','Japan'])

                Population       GDP  Surface Area    HDI Continent
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [28]:
df

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [29]:
df.drop(columns=['Population','HDI'])

                     GDP  Surface Area Continent
Canada           1785387       9984670   America
France           2833687        640679    Europe
Germany          3874437        357114    Europe
Italy            2167744        301336    Europe
Japan            4602367        377930      Asia
United Kingdom   2950039        242495    Europe
United States   17348075       9525067   America

In [30]:
crisis=pd.Series([-1_000_000_000,-0.3], index=['GDP', 'HDI'])

In [33]:
crisis

GDP   -1.000000e+09
HDI   -3.000000e-01
dtype: float64

In [35]:
crisis=pd.Series([-1_000_000, -0.3], index=['GDP', 'HDI'])

In [36]:
crisis

GDP   -1000000.0
HDI         -0.3
dtype: float64

In [37]:
df[['GDP','HDI']]+crisis

                       GDP    HDI
Canada            785387.0  0.613
France           1833687.0  0.588
Germany          2874437.0  0.616
Italy            1167744.0  0.573
Japan            3602367.0  0.591
United Kingdom   1950039.0  0.607
United States   16348075.0  0.615

In [38]:
langs=pd.Series(
    ['French','German','Italian'],
    index=['France','Germany','Italy'],
    name='Language'
)

In [39]:
langs

France      French
Germany     German
Italy      Italian
Name: Language, dtype: object

In [40]:
df['Language']=langs

In [41]:
df

                Population       GDP  Surface Area    HDI Continent Language
Canada              35.467   1785387       9984670  0.913   America      NaN
France              63.951   2833687        640679  0.888    Europe   French
Germany             80.940   3874437        357114  0.916    Europe   German
Italy               60.665   2167744        301336  0.873    Europe  Italian
Japan              127.061   4602367        377930  0.891      Asia      NaN
United Kingdom      64.511   2950039        242495  0.907    Europe      NaN
United States      318.523  17348075       9525067  0.915   America      NaN

In [42]:
df['Language']='Spanish'

In [43]:
df

                Population       GDP  Surface Area    HDI Continent Language
Canada              35.467   1785387       9984670  0.913   America  Spanish
France              63.951   2833687        640679  0.888    Europe  Spanish
Germany             80.940   3874437        357114  0.916    Europe  Spanish
Italy               60.665   2167744        301336  0.873    Europe  Spanish
Japan              127.061   4602367        377930  0.891      Asia  Spanish
United Kingdom      64.511   2950039        242495  0.907    Europe  Spanish
United States      318.523  17348075       9525067  0.915   America  Spanish

In [44]:
df

                Population       GDP  Surface Area    HDI Continent Language
Canada              35.467   1785387       9984670  0.913   America  Spanish
France              63.951   2833687        640679  0.888    Europe  Spanish
Germany             80.940   3874437        357114  0.916    Europe  Spanish
Italy               60.665   2167744        301336  0.873    Europe  Spanish
Japan              127.061   4602367        377930  0.891      Asia  Spanish
United Kingdom      64.511   2950039        242495  0.907    Europe  Spanish
United States      318.523  17348075       9525067  0.915   America  Spanish

In [45]:
df

                Population       GDP  Surface Area    HDI Continent Language
Canada              35.467   1785387       9984670  0.913   America  Spanish
France              63.951   2833687        640679  0.888    Europe  Spanish
Germany             80.940   3874437        357114  0.916    Europe  Spanish
Italy               60.665   2167744        301336  0.873    Europe  Spanish
Japan              127.061   4602367        377930  0.891      Asia  Spanish
United Kingdom      64.511   2950039        242495  0.907    Europe  Spanish
United States      318.523  17348075       9525067  0.915   America  Spanish

In [47]:
df.rename(
    columns={
        'HDI': 'Human Development Index',
        'Anual Popcorn Consumption': 'APC'
    }, index={
        'United States': 'USA',
        'United Kingdom': 'UK',
        'Argentina': 'AR'
    }
)

,Population,GDP,Surface Area,Human Development Index,Continent,Language
Canada,35.467,1785387,9984670,0.913,America,Spanish
France,63.951,2833687,640679,0.888,Europe,Spanish
Germany,80.940,3874437,357114,0.916,Europe,Spanish
Italy,60.665,2167744,301336,0.873,Europe,Spanish
Japan,127.061,4602367,377930,0.891,Asia,Spanish
UK,64.511,2950039,242495,0.907,Europe,Spanish
USA,318.523,17348075,9525067,0.915,America,Spanish

In [48]:
df

                Population       GDP  Surface Area    HDI Continent Language
Canada              35.467   1785387       9984670  0.913   America  Spanish
France              63.951   2833687        640679  0.888    Europe  Spanish
Germany             80.940   3874437        357114  0.916    Europe  Spanish
Italy               60.665   2167744        301336  0.873    Europe  Spanish
Japan              127.061   4602367        377930  0.891      Asia  Spanish
United Kingdom      64.511   2950039        242495  0.907    Europe  Spanish
United States      318.523  17348075       9525067  0.915   America  Spanish

In [49]:
langs

France      French
Germany     German
Italy      Italian
Name: Language, dtype: object

In [50]:
df['Language']=langs

In [51]:
df

                Population       GDP  Surface Area    HDI Continent Language
Canada              35.467   1785387       9984670  0.913   America      NaN
France              63.951   2833687        640679  0.888    Europe   French
Germany             80.940   3874437        357114  0.916    Europe   German
Italy               60.665   2167744        301336  0.873    Europe  Italian
Japan              127.061   4602367        377930  0.891      Asia      NaN
United Kingdom      64.511   2950039        242495  0.907    Europe      NaN
United States      318.523  17348075       9525067  0.915   America      NaN

In [52]:
df.rename(index=str.upper)

                Population       GDP  Surface Area    HDI Continent Language
CANADA              35.467   1785387       9984670  0.913   America      NaN
FRANCE              63.951   2833687        640679  0.888    Europe   French
GERMANY             80.940   3874437        357114  0.916    Europe   German
ITALY               60.665   2167744        301336  0.873    Europe  Italian
JAPAN              127.061   4602367        377930  0.891      Asia      NaN
UNITED KINGDOM      64.511   2950039        242495  0.907    Europe      NaN
UNITED STATES      318.523  17348075       9525067  0.915   America      NaN

In [53]:
df.rename(index=lambda x:x.lower())

                Population       GDP  Surface Area    HDI Continent Language
canada              35.467   1785387       9984670  0.913   America      NaN
france              63.951   2833687        640679  0.888    Europe   French
germany             80.940   3874437        357114  0.916    Europe   German
italy               60.665   2167744        301336  0.873    Europe  Italian
japan              127.061   4602367        377930  0.891      Asia      NaN
united kingdom      64.511   2950039        242495  0.907    Europe      NaN
united states      318.523  17348075       9525067  0.915   America      NaN

In [54]:
df

                Population       GDP  Surface Area    HDI Continent Language
Canada              35.467   1785387       9984670  0.913   America      NaN
France              63.951   2833687        640679  0.888    Europe   French
Germany             80.940   3874437        357114  0.916    Europe   German
Italy               60.665   2167744        301336  0.873    Europe  Italian
Japan              127.061   4602367        377930  0.891      Asia      NaN
United Kingdom      64.511   2950039        242495  0.907    Europe      NaN
United States      318.523  17348075       9525067  0.915   America      NaN

In [55]:
df.drop(columns='Continent', inplace=True)

In [56]:
df

                Population       GDP  Surface Area    HDI Language
Canada              35.467   1785387       9984670  0.913      NaN
France              63.951   2833687        640679  0.888   French
Germany             80.940   3874437        357114  0.916   German
Italy               60.665   2167744        301336  0.873  Italian
Japan              127.061   4602367        377930  0.891      NaN
United Kingdom      64.511   2950039        242495  0.907      NaN
United States      318.523  17348075       9525067  0.915      NaN

In [57]:
df.append(pd.Series({
      'Population':3,
      'GDP': 5
      },
      name='China'
      ))

                Population         GDP  Surface Area    HDI Language
Canada              35.467   1785387.0     9984670.0  0.913      NaN
France              63.951   2833687.0      640679.0  0.888   French
Germany             80.940   3874437.0      357114.0  0.916   German
Italy               60.665   2167744.0      301336.0  0.873  Italian
Japan              127.061   4602367.0      377930.0  0.891      NaN
United Kingdom      64.511   2950039.0      242495.0  0.907      NaN
United States      318.523  17348075.0     9525067.0  0.915      NaN
China                3.000         5.0           NaN    NaN      NaN

In [58]:
df

                Population       GDP  Surface Area    HDI Language
Canada              35.467   1785387       9984670  0.913      NaN
France              63.951   2833687        640679  0.888   French
Germany             80.940   3874437        357114  0.916   German
Italy               60.665   2167744        301336  0.873  Italian
Japan              127.061   4602367        377930  0.891      NaN
United Kingdom      64.511   2950039        242495  0.907      NaN
United States      318.523  17348075       9525067  0.915      NaN

In [59]:
df.loc['China']=pd.Series({'Population': 1_400_000_000, 'HDI': 0.99})

In [60]:
df

                  Population         GDP  Surface Area    HDI Language
Canada          3.546700e+01   1785387.0     9984670.0  0.913      NaN
France          6.395100e+01   2833687.0      640679.0  0.888   French
Germany         8.094000e+01   3874437.0      357114.0  0.916   German
Italy           6.066500e+01   2167744.0      301336.0  0.873  Italian
Japan           1.270610e+02   4602367.0      377930.0  0.891      NaN
United Kingdom  6.451100e+01   2950039.0      242495.0  0.907      NaN
United States   3.185230e+02  17348075.0     9525067.0  0.915      NaN
China           1.400000e+09         NaN           NaN  0.990      NaN

In [61]:
df

                  Population         GDP  Surface Area    HDI Language
Canada          3.546700e+01   1785387.0     9984670.0  0.913      NaN
France          6.395100e+01   2833687.0      640679.0  0.888   French
Germany         8.094000e+01   3874437.0      357114.0  0.916   German
Italy           6.066500e+01   2167744.0      301336.0  0.873  Italian
Japan           1.270610e+02   4602367.0      377930.0  0.891      NaN
United Kingdom  6.451100e+01   2950039.0      242495.0  0.907      NaN
United States   3.185230e+02  17348075.0     9525067.0  0.915      NaN
China           1.400000e+09         NaN           NaN  0.990      NaN

In [62]:
df.set_index('Population')

                     GDP  Surface Area    HDI Language
Population
3.546700e+01   1785387.0     9984670.0  0.913      NaN
6.395100e+01   2833687.0      640679.0  0.888   French
8.094000e+01   3874437.0      357114.0  0.916   German
6.066500e+01   2167744.0      301336.0  0.873  Italian
1.270610e+02   4602367.0      377930.0  0.891      NaN
6.451100e+01   2950039.0      242495.0  0.907      NaN
3.185230e+02  17348075.0     9525067.0  0.915      NaN
1.400000e+09         NaN           NaN  0.990      NaN

In [63]:
df

                  Population         GDP  Surface Area    HDI Language
Canada          3.546700e+01   1785387.0     9984670.0  0.913      NaN
France          6.395100e+01   2833687.0      640679.0  0.888   French
Germany         8.094000e+01   3874437.0      357114.0  0.916   German
Italy           6.066500e+01   2167744.0      301336.0  0.873  Italian
Japan           1.270610e+02   4602367.0      377930.0  0.891      NaN
United Kingdom  6.451100e+01   2950039.0      242495.0  0.907      NaN
United States   3.185230e+02  17348075.0     9525067.0  0.915      NaN
China           1.400000e+09         NaN           NaN  0.990      NaN

In [64]:
df.reset_index()

            index    Population         GDP  Surface Area    HDI Language
0          Canada  3.546700e+01   1785387.0     9984670.0  0.913      NaN
1          France  6.395100e+01   2833687.0      640679.0  0.888   French
2         Germany  8.094000e+01   3874437.0      357114.0  0.916   German
3           Italy  6.066500e+01   2167744.0      301336.0  0.873  Italian
4           Japan  1.270610e+02   4602367.0      377930.0  0.891      NaN
5  United Kingdom  6.451100e+01   2950039.0      242495.0  0.907      NaN
6   United States  3.185230e+02  17348075.0     9525067.0  0.915      NaN
7           China  1.400000e+09         NaN           NaN  0.990      NaN

In [65]:
df

                  Population         GDP  Surface Area    HDI Language
Canada          3.546700e+01   1785387.0     9984670.0  0.913      NaN
France          6.395100e+01   2833687.0      640679.0  0.888   French
Germany         8.094000e+01   3874437.0      357114.0  0.916   German
Italy           6.066500e+01   2167744.0      301336.0  0.873  Italian
Japan           1.270610e+02   4602367.0      377930.0  0.891      NaN
United Kingdom  6.451100e+01   2950039.0      242495.0  0.907      NaN
United States   3.185230e+02  17348075.0     9525067.0  0.915      NaN
China           1.400000e+09         NaN           NaN  0.990      NaN

In [66]:
df[['Population','GDP']]

                  Population         GDP
Canada          3.546700e+01   1785387.0
France          6.395100e+01   2833687.0
Germany         8.094000e+01   3874437.0
Italy           6.066500e+01   2167744.0
Japan           1.270610e+02   4602367.0
United Kingdom  6.451100e+01   2950039.0
United States   3.185230e+02  17348075.0
China           1.400000e+09         NaN

In [67]:
df['GDP']/df['Population']

Canada            50339.385908
France            44310.284437
Germany           47868.013343
Italy             35733.025633
Japan             36221.712406
United Kingdom    45729.239975
United States     54464.120330
China                      NaN
dtype: float64

In [68]:
df['GDP']/df['Population'].set_frame()

AttributeError: ignored

In [69]:
(df['GDP']/df['Population']).to_frame()

                           0
Canada          50339.385908
France          44310.284437
Germany         47868.013343
Italy           35733.025633
Japan           36221.712406
United Kingdom  45729.239975
United States   54464.120330
China                    NaN

In [70]:
df['GDP Per Capita']=df['GDP']/df['Population']

In [71]:
df

,Population,GDP,Surface Area,HDI,Language,GDP Per Capita
Canada,3.546700e+01,1785387.0,9984670.0,0.913,NaN,50339.385908
France,6.395100e+01,2833687.0,640679.0,0.888,French,44310.284437
Germany,8.094000e+01,3874437.0,357114.0,0.916,German,47868.013343
Italy,6.066500e+01,2167744.0,301336.0,0.873,Italian,35733.025633
Japan,1.270610e+02,4602367.0,377930.0,0.891,NaN,36221.712406
United Kingdom,6.451100e+01,2950039.0,242495.0,0.907,NaN,45729.239975
United States,3.185230e+02,17348075.0,9525067.0,0.915,NaN,54464.120330
China,1.400000e+09,NaN,NaN,0.990,NaN,NaN

In [72]:
df.describe()

         Population           GDP  Surface Area       HDI  GDP Per Capita
count  8.000000e+00  7.000000e+00  7.000000e+00  8.000000        7.000000
mean   1.750001e+08  5.080248e+06  3.061327e+06  0.911625    44952.254576
std    4.949747e+08  5.494020e+06  4.576187e+06  0.035197     6954.983875
min    3.546700e+01  1.785387e+06  2.424950e+05  0.873000    35733.025633
25%    6.312950e+01  2.500716e+06  3.292250e+05  0.890250    40265.998421
50%    7.272550e+01  2.950039e+06  3.779300e+05  0.910000    45729.239975
75%    1.749265e+02  4.238402e+06  5.082873e+06  0.915250    49103.699626
max    1.400000e+09  1.734808e+07  9.984670e+06  0.990000    54464.120330

In [73]:
population=df['Population']

In [74]:
population.min(),population.max()

(35.467, 1400000000.0)

In [75]:
population.sum()

1400000751.118

In [76]:
population.median()

72.7255

In [77]:
population.quantile(.25)

63.1295